@import '../../../scss/variables';

.wrapperButtons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: $mobile) {
		flex-direction: column;
	}
	> div {
		width: 48%;
		@media (max-width: $mobile) {
			width: 100%;
			margin-bottom: 10px;
		}
		> button {
			width: 100%;
		}
		&:last-child > button {
			background-color: #20366b;
			opacity: 0.8;
			transition: opacity 0.15s ease;
			&:hover {
				background-color: #29478c;
				opacity: 1;
			}
		}
	}
}
